body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;            
  background-color: rgb(189,189,189);
  padding: 20px;
}

.titreheader {
  color: white;
  margin: 0;
}

.boutons {
  display: flex;              
  gap: 20px;                
}

.boutons p {
  color: rgb(255, 255, 255);               
  margin: 0;
  cursor: pointer;           
}

.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(banner2.jpg);
  padding: 20px;
  height: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.article h1 {
  color: white;
}

.article p {
  color: white;
}

.main {
  display: flex;
  flex-direction: column;  
  align-items: center;     
  justify-content: flex-start;
  background-color: rgb(189, 189, 189);
  height: 800px;
  text-align: center;       
  padding-top: 20p

